html {
	font-family:"Helvetica" , "Sans-serif";
	font-size: 13px
}

.subtitle {
    width: 100%;
    height: 365px;
    font-family:"Helvetica" , "Sans-serif";
    font-size: 13px;
}

.hero {
    
    background: url("images/backpic.jpg")  no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color:#FFF;
    width: 100%;
    height: 70%;
    margin: auto;
    padding-top: 60px;
    font-size: 30px;
}

.menu{
    height: 20px;

}

.menu a{
float:left;
display: inline-block;
margin:5px;
color:#808080;

}

.menu ul{
list-style:none;
}

.mainContainer{
    width: 700px;
    margin: 0 auto;
}
.container{
    display: inline-block;
    width: 31%;
    margin: 5px;
    border-left:1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.personal {
    background-color: green;
}

.small-biz{
    background-color: blue;
}

.enterprise {
    background-color: black;
}

.heading{
    height:90px;
    list-style-type: none;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
}

.type{
    font-size: 14px;
    font-weight: bold;
}

.money{
    font-size: 55px;
}

.month{
    font-size: 14px;
}

.details li{ 
    list-style: none;
    text-align: center;
    line-height: 2em;
    border-bottom: 1px solid #DCDCDC;
    margin-right: 1px;
}

.details {
    background-color:#E8E8E8;
    text-align: center;
    color:#808080;
    padding: 0;
    margin: 0;
}

.info-row{
    display: inline-block;
    margin: 10px 0 15px 0;
}

.info-col {
    display: inline-block;
    width: 300px;
    margin: 0 10px 0 10px;
}


.push button{
    text-align: center;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid lightgrey;
    font-weight: bold;
}

.push{
    padding: 17px 5px 17px 75px;
}

.footer{
    height: 30px;
    background-color: black;
    color:white;
    text-align: center;
    padding:10px;
}









