html {
	font-family:"Helvetica" , "Sans-serif";
	font-size: 13px
}

.domsclass {
	margin-right: 15%;
	margin-left: 15%;
}

.hero {

	background: url("images/backpic.jpg")  no-repeat;
    background-attachment: fixed;
    background-size: 97.5% 100%;
    text-align: center;
    color:#FFF; 
}

.menu ul {
	padding-left: -30px;
}

.menu li {
	margin: 15px 5px;
	display: inline;
	font-size: inherit 8px;
}

.menu li a {
	text-decoration: none;

}



li a {
	
	}
